
     
     			<div class="panel panel-info">	
				<div class="panel-heading">Criado a <%= time_ago_in_words(task.created_at )%></div>
				<div class="panel-body"><%= task.content%></div>
				<div class="panel-footer text-center"><% if task.state == 'doing'  %>
       <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put %>
    
       <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "done"), method: :put%>
     
     <% elsif task.state =='done' %>
       <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "doing"), method: :put%>
     <% else %>
     <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "doing"), method: :put%>
     <% end %><br>
     <%= link_to 'Edit', edit_task_path(task) %>
     <br><%= link_to 'Show', task %>
     <br><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></div>
			</div>

      </tr>
           